#piechart {
    margin: 0 auto;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

.chart-title {
    text-align: center;
}

.card {
    transition: box-shadow 0.5s;
}

.card:hover {
    box-shadow: 5px 5px 5px;
}